html, body, h1, h2, h3, h4, h5, div, p, img, a, dl, dt, dd, ul, ol, li, span {
    padding: 0;
    margin: 0;
    border: none;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

a, img {
    border: none;
    outline: none;
}

body, input, textarea, select, button {
    font-family: "Open Sans", sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

ul {
    list-style: none;
}

