.medicinesContainer {
    width: 100%;
    height: 100vh;
    padding: 80px 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #3A414F;
}

.medicinesPlus {
    position: fixed;
    bottom: 120px;
    right: 120px;
}
