.medicineItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #2D3544;
    /* https://www.cssmatic.com/box-shadow */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
}

.medicineItem:last-child {
    margin-bottom: 0;
}

.medicineItemInfo {
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
}

.medicineItemText {
    font-size: 14px;
    line-height: 12px;
    color: #fff;
}

.medicineItemButtons {
    display: flex;
    justify-content: space-between;
    flex-basis: 160px;
    margin-right: 20px;
}
