.medicineItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 40px;
    border-radius: 5px;
    background-color: #1D2533;
}

.medicineItemInfo {
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
}

.medicineItemText {
    font-size: 14px;
    line-height: 12px;
    color: #fff;
}

.medicineItemButtons {
    display: flex;
    justify-content: space-between;
    flex-basis: 160px;
    margin-right: 20px;
}
