.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 25px;
}

.inputLabel {
    margin-right: 20px;
    word-wrap: break-word;
}

.inputField {
    font-size: 16px;
    line-height: 24px;
    color: #D3D4DB;
    background: #3A414F;
    border-radius: 8px;
    padding: 12px;
    border: none;
    outline: none;
}

.inputFieldWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputError {
    position: absolute;
    top: 50px;
    left: 12px;
    z-index: 10;
    color: #FF4747;
    opacity: .8;
}

@media all and (max-width: 520px) {
    .inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
