.plus {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #FF4F12;
    color: #FF4F12;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s ease;
}

.plus:hover {
    border: 2px solid #D33706;
    color: #D33706;
}

.plus:after {
    content: '\271A';
}
